<p id="notice"><%= notice %></p>
<p id = "todo_list_title">
  <%# <strong>Title:</strong> %>
  <%= @todo_list.title %>
</p>
<div id = "EditBack">
<%= link_to fa_icon('edit', text: 'Edit'), edit_todo_list_path(@todo_list), class: 'EditButton' %> |
<%= link_to 'Back', todo_lists_path, class: 'BackButton' %>
</div>
<p id = "todo_list_description">
  <%# <strong>Description:</strong> %>
  <%= @todo_list.description %>
</p>
<div id="todo_items_wrapper">
 <%= render @todo_list.todo_items %>
 <div id="form">
  <%= render "todo_items/form" %>
 </div>
</div>
